body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.title span {
  color: #fd9222;
}
/* ===============HEADER=============== */
.header {
  padding-top: 24px;
  padding-bottom: 32px;
}
.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 90px;
}
.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
}
.header-logo-cursive {
  font-style: italic;
}
.header-menu-list {
  display: flex;
  gap: 24px;
}
.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}
.header-menu-link:hover {
  color: #fd9222;
}
.header-menu-link:focus {
  color: #fd9222;
  font-style: italic;
}
.header-contacts-list {
  display: flex;
  gap: 14px;
}
/* =============HERO================ */
.hero {
  padding-bottom: 80px;
}
.hero-wrap {
  padding: 380px 40px 40px 40px;
  background-color: rgba(17, 17, 17, 0.6);
  border-radius: 30px;
  background-image: url(../images/chocolate_main.jpg);
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
}

.hero-buy-btn {
  padding: 14px 40px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  background-color: #fd9222;
  border: none;
  margin-right: 14px;
}

.hero-made-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  background: transparent;
}

.hero-down-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}
.hero-buttons {
  display: flex;
  align-items: center;
}
/* =================FEATURES================== */
.features {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.features-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}
.features-item {
  width: calc((100% - 2 * 88px) / 3);
}
.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}
.features-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* ====================TASTE=========== */
.taste {
  padding-top: 60px;
  padding-bottom: 60px;
}
.taste-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
  /* column-gap: 32px;
  row-gap: 24px; */
}
.taste-item {
  background-color: #fd9222;
  border-radius: 15px;
  width: calc((100% - 3 * 32px) / 4);
  padding: 28px 23px;
}
.taste-img {
  margin-bottom: 36px;
}
.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  padding-left: 5px;
}
/* =============MADE============ */
.made {
  padding-top: 60px;
  padding-bottom: 60px;
}
.made-title::before {
  content: "\1F36B";
  width: 40px;
  height: 40px;
  display: inline-block;
}

.made-img {
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}
.made-list {
}
.made-item {
}
.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}
/* =========PRODUCTS============= */
.products {
  padding-top: 60px;
  padding-bottom: 60px;
}
.products-title {
  margin-bottom: 50px;
}

.products-list {
  display: flex;
}
.products-item {
}
.products-image {
}
.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}
.products-item-text {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.products-item-btn {
  font-weight: 600;
  font-size: 14px;
  color: #111;
}
/* =============SELLERS========= */
.sellers {
  padding-top: 60px;
  padding-bottom: 60px;
}
.sellers-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fd9222;
  margin-bottom: 60px;
}
.sellers-title span {
  color: #111;
}
.sellers-list {
  display: flex;
  gap: 16px;
}
.sellers-item {
  width: calc((100% - 32) / 3);
  border-radius: 15px 15px 0 0;
}
.sellers-cover-wrap {
  position: relative;
  overflow: hidden;
}
.sellers-img {
}
.sellers-cover-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
  position: absolute;
  top: 0;
  background-color: gray;
  height: 100%;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  transform: translateY(100%);
  transition: transform 300ms easy;
}
.sellers-item:hover .sellers-cover-text {
  transform: translateY(0);
}
.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: 0;
  border-radius: 0 0 15px 15px;
}

/* ===========LOVED=========== */
.loved {
  padding-top: 60px;
  padding-bottom: 60px;
}

.loved-title {
}

.loved-list {
}

.loved-item {
}

.loved-image {
}

.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}

.loved-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

/* ============FOOTER=========== */
.footer {
  background: #1e1823;
}
.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer-text span {
  color: #fd9222;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}

.footer-soc-list {
}

.footer-soc-item {
}

.footer-soc-link {
}

.footer-address {
  font-style: normal;
}

.footer-contacts-list {
}

.footer-contacts-item {
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-nav {
}

.footer-menu-list {
}

.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
